@font-face{
    font-family: 'Public Sans';
    src: url('/fonts/public-sans/PublicSans-Light.woff2') format('woff2'),
         url('/fonts/public-sans/PublicSans-Light.woff') format('woff'),
         url('/fonts/public-sans/PublicSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Public Sans';
    src: url('/fonts/public-sans/PublicSans-Regular.woff2') format('woff2'),
         url('/fonts/public-sans/PublicSans-Regular.woff') format('woff'),
         url('/fonts/public-sans/PublicSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Public Sans';
    src: url('/fonts/public-sans/PublicSans-Italic.woff2') format('woff2'),
         url('/fonts/public-sans/PublicSans-Italic.woff') format('woff'),
         url('/fonts/public-sans/PublicSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Public Sans';
    src: url('/fonts/public-sans/PublicSans-Medium.woff2') format('woff2'),
         url('/fonts/public-sans/PublicSans-Medium.woff') format('woff'),
         url('/fonts/public-sans/PublicSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Public Sans';
    src: url('/fonts/public-sans/PublicSans-Bold.woff2') format('woff2'),
         url('/fonts/public-sans/PublicSans-Bold.woff') format('woff'),
         url('/fonts/public-sans/PublicSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
