body {
  background-color: #f8f8f8;
}

nav a {
  color: #00933c;
}

pre {
  border-color: #00933c;
}

body,p {
  font-family: 'Public Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #303030;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5 {
  font-family: 'Public Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.container {
  margin: 0;
  padding-top: 1.5rem;
  background-color: white;
}
header {
  background-color: #333;
  color: #bbb;
  border-bottom: .5rem solid #00933c;
  display: block;
}
::-webkit-scrollbar { 
  display: none; 
}

.nav-icon {
  cursor: pointer;
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 4rem;
  display: inline-block;
}

hr {
  border: 0;
  height: 1rem;
  margin: 0 -2rem 2.5rem -2rem;
  background-color: #f8f8f8;
}

/* Navigation */

/* base stylefor mobile */
#nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 90%;
  left: -90%;
  display: block;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: white;
  transition: 0.5s;
  z-index: 200;
}

/* when nav is open, the body has class "nav-open" */
.nav-open #nav {
  left: 0;
}

#body {
  padding-left: 0%;
  transition: 0.5s;
}
.nav-open #body {
  /* padding-left: 90%; */
}
#body header {
  position: sticky;
  top:0;
  z-index: 100;
}


/* Larger than mobile screen */
@media (min-width: 40.0rem) {
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
  #nav {
    left: 0;
    width: 30rem;
  }
  #body {
    padding-left: 31rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #body header {
    display: none;
  }
  .nav-icon {
    display: none;
  }
}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
  #nav {
    width: 40rem;
  }
  #body {
    padding-left: 41rem;
  }
}



footer {
  background-color: #f8f8f8;
  padding-top: 50px;
  display: block;
}
.figure-caption {
  margin: 0 0 2.5rem 0;
  font-weight: bold;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  border-bottom: 1px solid #eee;
}

nav {
  font-weight: bold;
}

main {
  min-height: 100vh;
  padding-top: 2rem;
  display: block;
}

nav div.item {
  line-height: 4rem;
  border-bottom: 1px solid #eee;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

nav div.item.active {
  color: #eee;
  background-color: #00933c;
}

.indent {
  width: 2rem;
  display: inline-block;
}

.dir {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 0.55rem solid transparent;
  border-bottom: 0.55rem solid transparent;
  border-left: 0.55rem solid black;
  margin-right: 0.55rem;
}

.dir.open {
  border: 1px solid black;
  border-bottom: .4rem solid black;
  border-right: .4rem solid black;
  border-top: .4rem solid transparent;
  border-left: .4rem solid transparent;
}

nav .dir-toggle {
  cursor: pointer;
  color: var(--light-color);
}

/* code blocks */
code {
  font-family: 'Source Code Pro', Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-weight: normal;
  font-size: 93%;
}

ul {
  list-style-type: disc;
}

li {
  margin-bottom: 0;
}

a {
  color: #0366d6
}
a:hover {
  color: #0366d6;
  text-decoration: underline;
}

nav a:hover {
  color: #0366d6;
}

pre.error {
  border-color: #ee352e;
}

.message {
  margin-top: -2rem;
  font-family: monospace;
}

.message textarea {
  margin: 0;
  padding: 0 0 0 1rem;
  border: 0;
  min-height: 0;
  height: auto;
  background-color: #f6f8fa;
  resize: none;
}

.error-message {
  color: #ee352e;
}

.error-line {
  /* border-bottom: 1px solid red; */
  background-color: rgba(256, 0, 0, 0.1);
}
